button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $theme-primary;
	border-radius: 3px;
	background: $theme-primary;
	box-shadow: none;
	color: $theme_white;
	@include font-size(1);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: none;

	&:hover {
		border-color: $theme-primary-light;
		background-color: $theme-primary-light;
		box-shadow: none;
	}

	&:active,
	&:focus {
		border-color: $theme-primary-light;
		background-color: $theme-primary-light;
		box-shadow: none;	}
}

/* From agency template */
.btn-primary {
	@include button-variant(white, $theme-primary, $theme-primary);
	@include heading-font;
	font-weight: 700;
}

.btn-xl {
	@include button-variant(white, $theme-primary, $theme-primary);
	@include heading-font;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
}

// Social Buttons

ul.social-buttons {
	margin-bottom: 0;
	li {
		a {
			display: block;
			background-color: $gray-darker;
			height: 40px;
			width: 40px;
			border-radius: 100%;
			font-size: 20px;
			line-height: 40px;
			color: white;
			outline: none;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			&:hover,
			&:focus,
			&:active {
				background-color: $theme-primary;
			}
		}
	}
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}
.btn:hover {
  background-color: $theme-primary-light;
}
