.pad-featured-article {

  .pad-featured-article-excerpt {
    height: 485px;
    z-index: 2;
    margin-top: 0;
    margin-left: -75px;
    background-color: #ffffff;
    @include box-shadow();
    padding: 10px 30px;
  }

  .pad-article-excerpt {
    font-size: 1.3em;
    line-height: 1.7;
  }


  .pad-featured-article-image {
    height: 300px;

    @media screen and ( max-width: 1200px  ) {
      height: 244px !important;
    }

    @media screen and ( max-width: 992px  ) {
      height: 183px !important;
    }

    @media screen and ( max-width: 780px  ) {
      height: 500px !important;
    }

  }


  .pad-article-button {
    position: absolute;
    right: 58px;
    bottom: 30px;

  }

  .pad-animate {
    z-index: 3;
    color: $theme_accent_color;
    font-size: 3em;
    text-align: center;
    padding: 40%;
  }

  .card-block {
    padding: 0 15px 90px;
    font-size: 1.2em;
    min-height: 300px;
  }

}

.pad-article-button {
  a {
    font-size: $pad_button_font_size;
  }
}