.pullquote2-container {
  border-left: $theme-accent-color 3px solid;
  padding: 0.5em 0 0.5em 1em;
  margin-bottom: 2em;
  margin-top: 2em;

  .pullquote2-content {
    display: inline;
    font-size: 1.1em;
    line-height: 1.5;

    &:before {
      font-family: FontAwesome;
      content: "\f10d";
      display: inline;
      font-size: 0.7em;
      color: $gray-light;
      margin-right: 0.5em;
      vertical-align: super;
    }


  }

  .pullquote2-citation {
    display: inline;
    font-size: 0.8em;
    font-weight: bold;
    color: $gray-light;

    &:before {
      content: "-";
      display: inline;
      padding: 0 0.5em;
    }

    &:after {
      font-family: FontAwesome;
      content: "\f10e";
      display: inline;
      font-size: 0.7em;
      color: $gray-light;
      margin-left: 0.5em;
      vertical-align: super;

    }
  }

}

.pullquote1-container {

  width: 33%;
  float: left;
  font-size: 1.1em;
  font-style: italic;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 20px;
  border: $gray-light solid 1px;

  @media ( max-width: $bp-mobile-tablet ) {
    width: 100%;
    margin: 25px auto 40px;
  }
  .pullquote1-content {

    display: inline;
    font-size: 1.1em;
    line-height: 1.5;
    color: $gray-light;

    &:before {
      font-family: FontAwesome;
      content: "\f10d";
      display: inline;
      font-size: 0.6em;
      color: $gray-light;
      margin-right: 0.5em;
      vertical-align: super;
    }

    &:after {
      font-family: FontAwesome;
      content: "\f10e";
      display: inline;
      font-size: 0.6em;
      color: $gray-light;
      margin-left: 0.5em;
      vertical-align: super;

    }


  }

  .pullquote1-citation {

    margin-top: 10px;
    float: right;
    font-style: normal;

    &:before {
      content: "-";
      padding: 0 0.5em;
    }

  }
}