.home {
  .entry-content {
    margin-top: 0;
  }
  .site-title {

    a {
      color: $theme-primary;
      text-decoration: none;
    }

    a:visited {
      color: $theme-primary;
    }

  }

  p.site-description {
      color: $theme-white;
  }

  #site-navigation.navbar-custom {
    background-color: transparent;
  }

  #primary-menu a {
    color: $theme-white;
  }

  #content {
    margin-top: 0;
  }
}

@media(min-width:768px) {
  .home #site-navigation.navbar-custom.affix {
    background-color: $gray-lighter ;

    #primary-menu a {
      color: $nav-color;
    }
  }


}

