
.slick-carousel-wrapper {
  height: 400px;
  overflow: visible;
  margin: 0 30px 50px 30px;
}

.slick-prev:before, .slick-next:before {
  font-family: 'FontAwesome';
  font-size: 64px;
  line-height: 1;
  opacity: .75;
  color: $theme-primary;
}

.slick-prev {
  &:before {
    content: '\f104';
  }
}

.slick-next {
  &:before {
    content: '\f105';
  }
}

.carousel-item-container {
  padding: 5px;
  background-color: $theme-white;
}
