html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	overflow-x: hidden;
	@include body-font;
}

/* From agency template */
.text-muted {
	color: $gray-light;
}

.text-primary {
	color: $theme-primary;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darker;
}
/* End from agency template */

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.img-centered {
  margin: 0 auto;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

// Clients Aside

aside.clients {
  img {
    margin: 50px auto;
  }
}

@import "tables";
@import "header";
@import "section";
@import "headings";
@import "portfolio";
@import "timeline";
@import "team-member";
@import "footer";
@import "preloader";
@import "modals";
@import "shopping-cart";
@import "book-promo";
@import "scroll-to-top";
@import "carousel";



// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $theme-primary;
}

::selection {
  text-shadow: none;
  background: $theme-primary;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}

// TODO: create seperate file (_pad_archive) for this.
.pad-archive {
	margin-bottom: 65px;
	overflow: hidden;
	.entry-content {
		padding-bottom: 30px;
		max-height: 400px;

		.pad-featured-article-image {
			max-height: 275px;
            @media ( max-width: $bp-mobile-tablet - 1)  {
              max-height: 700px;
            }
		}
	}
	.pad-archive-excerpt-container {
		a.btn {
			font-size: $pad_button_font_size ;
		}
	}


}

@media ( max-width: $bp-mobile-tablet - 1) {
	.pad-archive-excerpt-container {
		margin-top: 2em;
	}

}


// TODO: file for social buttons
.pad-social-buttons a {
	display: block;
	margin-left: 60%;
	background: $theme-primary;
	color: $theme-white;
	i {
		color: $theme-white;

	}
	margin-bottom: 5px;
	&:active,
	&:focus,
	&:hover {
		background: $theme-primary-lighter ;
	}
}

// TODO: seperate file for buttons
.btn-circle {
	width: 49px;
	height: 49px;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	line-height: 2.00;
	border-radius: 30px;

}

.btn-circle-micro {
	width: 19px;
	height: 19px;
	text-align: center;
	padding: 1px 0;
	font-size: 13px;
	line-height: 0.1;
	border-radius: 30px;
}

.btn-circle-sm {
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 2px 0;
	font-size: 20px;
	line-height: 1.65;
	border-radius: 30px;
}

.btn-circle-lg {
	width: 79px;
	height: 79px;
	text-align: center;
	padding: 13px 0;
	font-size: 30px;
	line-height: 2.00;
	border-radius: 70px;
}
