ul, ol {
	text-align: left;
	margin: 0 0 1em 1em;
}

ul {
	list-style: disc;
    li {
      list-style-type: disc;
    }
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

#colophon {

  ul {
    li {
      @include list-bullets("\f111");
      ul li {
        @include list-bullets("\f10c");
      }
    }
  }
}

/*
 * Remove bullet from woocommerce checkout page
*/
ul.wc_payment_methods {
  list-style-type: none;
  li.wc_payment_method {
    list-style-type: none;
  }
}