$size__site-main: 100%;
$size__site-sidebar: 25%;
$nav_margin: 125px;
$mobile_nav_margin: 65px;
$nav-height-before-scroll: 100px;
$nav-height-after-scroll: 70px;
$product_card_image_height: 300px;
$product_card_1col_image_height: 500px;
$product_horizontal_image_height: 450px;
$home_page_top_nav_height: 60px;