.pad-theme-color {
  color: $theme-primary;
}

.pad-theme-color-bg {
  background-color: $theme-primary;
}

.pad-theme-color-light {
  color: $theme-primary-light;
}

.pad-theme-accent-color {
  color: $theme-accent-color;
}


.pad-theme-accent-color-light {
  color: $theme-accent-color-light;
}