.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: $theme-primary-light;
  color: $theme-white;
}


.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $theme-primary;
  color: $theme-white;

}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $theme-primary;
  color: $theme-white;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background-color: $theme-primary-light;
  color: $theme-white;
}

.pad-product-bottom-section {
  margin-bottom: 40px;
  .pad-product-bottom-title {
    display: inline-block;
  }

  .pad-bottom-cart-button {
    display: inline-block;
    margin-left: 40px;
  }
}


